// Utils styles

@import "./utils/variables";

@import "./utils/visually-hidden";

@import "./utils/mixins";


// Components styles

@import "./components/reset";

@import "./components/base";

@import "./components/container";

@import "./components/logo";

@import "./components/header";

@import "./components/header-nav";

@import "./components/header-contacts";

@import "./components/hero";

@import "./components/feature";

@import "./components/work";

@import "./components/team";

@import "./components/socials";

@import "./components/customers";

@import "./components/footer";

@import "./components/subscription";

@import "./components/portfolio-main";

@import "./components/galery";

@import "./components/overlay";

@import "./components/backdrop";

@import "./components/modal";

@import "./components/modal-btn";

@import "./components/register-form";