/**
  |============================
  | block 9
  |============================
*/

.contacts {
    display: flex;
    gap: 50px;
}

.contacts__item{
    &:last-child {
        padding-right: 0;
    }
}


.contacts__link {
    display: block;
    color: var(--main-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
         color: var(--main-color-blue);
        }


    &:last-child {
        padding-right: 0;
}
}

.contacts__link {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 32px;
    padding-bottom: 32px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &hover,
    &focus{
        fill: var(--main-color-blue);
    }
}

.contacts__icon {
    fill: none;
    fill: var(--main-color);

    &hover,
    &focus {
        fill: var(--main-color-blue);
        }
}
