/**
  |============================
  | block 13
  |============================
*/

.section {
    @include section;

    @media screen and (min-width: 1200px) {
        @include section (94px);
    }
}

.section-team {
    background-color: var(--main-bgc-comand);
    @include section;

    @media screen and (min-width: 1200px) {
    padding-bottom: 94px;
    }
}

.team-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;

    @media screen and (min-width: 768px) {
    flex-basis: calc((100% - var(--indent) * 1) / 2);
    }

    @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    }
}

.team-about {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: var(--main-color-white);
}

.team-person {
    margin-bottom: 10px;
    color: var(--main-color-accent);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.team-text {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.team-title {
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 30px;
    color: var(--main-color-accent);
    line-height: 1.17;
    text-align: center;

    @media screen and (min-width: 1200px) {
    font-size: 36px;
    margin-bottom: 50px;
}
}

.team-info {
    padding-top: 30px;
    padding-bottom: 24px;

    @media screen and (min-width: 768px) {
        padding-bottom: 30px;
    }
}