/**
  |============================
  | block 1
  |============================
*/

:root {
    --items: 4;
    --items-portfolio: 3;
    --indent: 30px;
    --main-bgc: #2f303a;
    --main-color: #757575;
    --main-color-accent: #212121;
    --main-bgc-comand: #f5f4fa;
    --main-color-hero: #2f303a;
    --main-color-blue: #2196f3;
    --main-color-white: #ffffff;
    --main-color-black: #000000;
    --galary-border: #eeeeee;
    --socials-icon-color: #afb1b8;
}